footer {
  width: 100%;
  height: 280px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 850px;
}
.footer-site {
  padding: 10px 25vw 10px 25vw;
}
.footer-link {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 40px 0 0;
}
.footer-link-item {
  color: grey;
  list-style: none;
  white-space: normal; /* This allows the text to wrap */
  overflow-wrap: break-word;
  margin: 10px 0px 10px 0px;
  font-size: 14px;
}
.copyright {
  color: grey;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 10vh;
  margin: 40px 0 0;
}
.custom-link {
  color: grey;
  text-decoration: none;
}
@media only screen and (max-width: 1310px) {
  .footer-link {
    display: grid;
    margin: 0;
  }
  .copyright {
    height: 0;
    margin: 0;
    padding: 15px;
  }
  footer {
    height: 300px;
    top: 829px;
  }
}
@media only screen and (max-width: 950px) {
  .footer-site {
    padding: 10px;
  }
}
@media only screen and (max-width: 460px) {
  .footer-link-item,
  .copyright {
    font-size: 11px;
  }
}

