.background-container {
  background-image: url("../assets/bg-image2.jpg");
  background-size: cover;
  position: relative;
}
.logo {
  padding: 20px;
  width: 175px;
  height: 50px;
}
.content {
  position: relative;
}
.nav-item {
  display: flex;
  justify-content: space-around;
}
.main-content {
  text-align: center;
  vertical-align: middle;
  padding: 100px 20px 600px 20px;
}
.heading {
  font-size: 3.5em;
  font-weight: bolder;
}
#text-4 {
  color: white;
  font-size: 1.5em;
}

@media only screen and (max-width: 1080px) {
  .main-content {

    padding: 100px 20px 522px 20px;
  }
}

@media only screen and (max-width: 586px) {
    .heading {
       font-size: 2rem;
    }
    #text-4{
        font-size: 1em;
    }
    .main-content{
        padding: 100px 20px 575px 20px;
    }
  }
