.pagenotfound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.notfound-image {
  background-image: url("../assets/bgimage3.jpg");
  background-size: cover;
}
.header-1 {
  background: linear-gradient(to bottom, red, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 80px;
}
.text-5 {
  background: linear-gradient(to bottom, red, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 40px;
}
